<!DOCTYPE html>
<html>
<head>
    <title>Phishing URL Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🛡️ AI Phishing URL Detector</h1>

    <form action="/predict" method="POST" enctype="multipart/form-data" onsubmit="showLoading()">

        <input type="text" name="url" placeholder="Enter Website URL..." required>

        <br>

        <label>Upload Screenshot (Optional)</label>

        <input type="file" name="image" accept="image/*">

        <button id="scanBtn">Scan URL</button>

    </form>

</div>

<script>
function showLoading(){
    document.getElementById("scanBtn").innerText = "🔍 Scanning...";
}
</script>

</body>
</html>
